{% extends 'base.html' %}
{% block mainbody %}
    <div class="divblock">
        <h2>Students</h2>
        {% if students %}
            <table>
                <th>Roll No.</th>
                <th>Name</th>
                <th>Year</th>
                <th>Division</th>
                <th>Batch</th>
                {% for student in students %}
                    <tr>
                        <td><a href="{% url 'student_profile_update' student.roll_no %}">{{ student.roll_no }}</a></td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.year }}</td>
                        <td>{{ student.division }}</td>
                        <td>{{ student.batch }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h4>Only class Co-ordinator can see the students</h4>
        {% endif %}
    </div>
    <a href="{{request.META.HTTP_REFERER|escape}}"><button type="button">Back</button></a>
{% endblock %}