{% extendes 'base.html' %}
{% block mainbody %}
    <form method="Post" action="{% url 'attendance_subject_fill' %}">
        {% csrf_token %}
        <label for="subject">Subject :</label>
        <input type="text" name="subject" id="subject" value="{{ subject }}">
        <label for="division">Division :</label>
        <input type="text" name="division" id="division" value="{{ division }}"><br>
        <label for="year">Year :</label>
        <input type="text" name="year" id="year" value="{{ year }}"><br>
        <label for="date">Date :</label>
        <input type="date" name="date" id="date" value="{{ date }}"><br>
        <label for="from">From :</label>
        <input type="time" name="from" id="from" min="07:00" max="18:00" value="{{ from_time }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label for="to">To :</label>
        <input type="time" name="to" id="to" min="07:00" max="18:00" value="{{ to_time }}"><br>
        <label for="slot">Solt/s :</label>
        <input type="number" name="slots" id="slot" value="{{ slots }}"><br>
        <table>
            {% for students in student_list %}
                <tr>
                    {% for student in students %}
                        <td>
                            <label for="{{ student.roll_no }}">{{ student.roll_no }} :</label>
                            <input type="checkbox" name="{{ student.roll_no }}" id="{{ student.roll_no }}" value="P" checked>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <button type="submit">Submit</button>
        <a href="{{request.META.HTTP_REFERER|escape}}"><button type="button">Back</button></a>
    </form>
{% endblock %}