{% extends 'base.html' %}
{% block mainbody %}
    <h2>Attendance form</h2>
    <form method="post" action="{% url 'attendance' %}">
        {% csrf_token %}
        <label for="subject">Subject :</label>
            <input type="radio" id="subject" name="choice" value="subject"><br>
        <label for="lab">Lab :</label>
        <input type="radio" id="lab" name="choice" value="lab"><br>
        <button type="submit">Submit</button>
        <a href="{{request.META.HTTP_REFERER|escape}}"><button type="button">Back</button></a>
        {% if error %}
            {{ error }}
        {% endif %}
    </form>
    <div class="divblock">
        {% if subject %}
        <h2>Subject Attendance</h2>
        <table border=1>
            <th>No.</th>
            <th>Subject</th>
            <th>Division</th>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Slots</th>
            {% for attendance in subject %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{attendance.subject}}</td>
                    <td>{{ attendance.division }}</td>
                    <td>{{attendance.date|date:'Y-m-d'}}</td>
                    <td>{{attendance.from_time|date:'P'}}</td>
                    <td>{{attendance.to_time|date:'P'}}</td>
                    <td>{{attendance.slots}}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <h4>There are not any subject attendance</h4>
        {% endif %}
    </div>
    <div class="divblock">
        {% if lab %}
        <h2>Lab Attendeance</h2>
         <table border="1">
            <th>No.</th>
            <th>Lab</th>
            <th>Batch</th>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            {% for attendance in lab %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{attendance.lab}}</td>
                    <td>{{ attendance.batch }}</td>
                    <td>{{attendance.date|date:'Y-m-d'}}</td>
                    <td>{{attendance.from_time|date:'P'}}</td>
                    <td>{{attendance.to_time|date:'P'}}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <h4>There are not any lab attendance</h4>
        {% endif %}
    </div>
{% endblock %}