html { overflow-y: auto; overflow-x:hidden; }

body {
    margin-top: 0;
    width:100%;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

#navbar {
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    z-index: 1;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    padding-left: 228px;
    padding-bottom: 50;
    margin-top: 80px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.sidenav {
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 10px;
    background: #fff;
    overflow-x: hidden;
    padding: 8px 0;
    z-index: 1;
    text-decoration: none;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #333;
    display: block;
}

.sidenav a:hover {
    background-color: #333;
    color: #fff;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    background-color: skyblue;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.topnav-right {
  float: right;
}

div.cards {
  max-width: 800px;
  text-align: center;
}

div.card {
  background: @white;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  z-index: 1;
}
  img {
    max-width: 300%;
    position: relative;
    z-index = 2;
 }

 .divblock {
    background: skyblue;
    border: solid 1px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
 }

.divblock table {
    width: 100%;
}

 .divblock td, .divblock th {
  border: 1px solid #ddd;
  padding: 8px;
}

.divblock tr:nth-child(even){background-color: #f2f2f2;}

.divblock tr:hover {background-color: #ddd;}

.divblock th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.divblock h2, h4 {
    color: #333;
    padding-left: 20px;
    font-weight: bold;
    border-radius: 10px;
}

.site-footer
{
  background-color:#333;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  width: 100%;
  bottom: 0;
}

.site-footer a
{
  color:#737373;
}

.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.copyright-text {
    text-align: center;
}

.site-footer a {
    color: white;
}
