<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<h2>Sign up</h2>
    <form method="post">
        {% csrf_token %}
            {% for field in form %}
                <p>
                {{ field.label }} : {{ field }}<br>
                {{ field.help_text }}
                {% for error in field.error %}
                    <p>{{ error }}</p>
                {% endfor %}
                </p>
            {% endfor %}
            {% if cperror %}{{ cperror }}{% endif %}
            {{ extra_form.as_p }}
        <button type="submit">Sign up</button>
        <a href="{{request.META.HTTP_REFERER|escape}}"><button type="button">Back</button></a>
    </form>
</body>
</html>