{% load static %}
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" >
    </head>
<body>

<div id="navbar">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'staff_profile' %}">Profile</a>
    <a href="{% url 'add_subject_lab' %}">Add Subjects and labs</a>
    <div class="topnav-right">
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    </div>
</div>

<div class="sidenav">
  <a href="{% url 'student_profile' %}">Students</a>
  <a href="{% url 'attendance' %}">Attendance</a>
  <a href="{% url 'student_profile' %}">Mentees</a>
  <a href="{% url 'report' %}">Reports</a>
</div>

<div class="content">
{% block mainbody %}
{% endblock %}
</div>

<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
</body>
</html>
